{% extends "layout.njk" %}

{% block content %}
  {% block head %}
    <title> Sobre Rocketseat </title>
  {% endblock %}
  <div id="wrapper">
    <img src="{{about.img_url}}" alt="imagem da {{about.title}}">
    <h1>{{about.title}}</h1>
    <h2>{{about.role}}</h2>
    <ul>{{about.topic}}</ul>
    {% for tech in about.techs %}
      <li>{{tech.name}}</li>
    {% endfor %}
  </div>
  <div id= "links-footer" class="links">
    {% for link in about.links %}
      <a href="{{link.url}}" target="blank">{{link.name}}</a>    
    {% endfor %}
  </div>
{% endblock %}
