<!DOCTYPE html>
  <head>
    <link rel="stylesheet" href="styles.css">  
    <title>ERROR 404</title>
  </head>
  <body class= "error">
    <img src="/assets/robo.png" alt="error">
    <h1>404</h1>
    <h2>Not Found</h2>
    <p>the resource requested could not be found on thi server!</p>
  </body>
</html>