<!DOCTYPE html>
  <link rel="stylesheet" href="styles.css">
  <title>Início</title>
</head>
<body>
  <header>
    <div class="links">
      <div class="logo">
        <a href="/"><img src="assets/logo.png" alt="logo_foodfy"></a>
      </div>
      <a href="/super">Sobre</a>
      <a href="/revenue">Receitas</a>
    </div>
  </header>

  <div class="welcome__card">
    <div class="infor__container">
      <h1>As melhores receitas</h1>
      <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro</p>
    </div>
    <div class="image__chef">
      <img src="assets/chef.png" alt="chef">
    </div>
  </div>

  
  <div class="wrapper">
    <h1>Mais acessadas</h1>
  </div>
  <section class="cards">

    <div class="card">
      <div class="card__image-container">
        <img src="assets/burger.png" alt="imagem">
      </div>
      <div class="card__infor-content">
        <h1>Triplo bacon burger</h1>
      </div>
      <div class="card__autor-content">
        <p>por Jorge Relato</p>
      </div>
    </div>

    <div class="card">
      <div class="card__image-container">
        <img src="assets/pizza.png" alt="imagem">
      </div>
      <div class="card__infor-content">
        <h1>Pizza 4 estações</h1>
      </div>
      <div class="card__autor-content">
        <p>Fabiano Melo</p>
      </div>
    </div>

    <div class="card">
      <div class="card__image-container">
        <img src="assets/espaguete.png" alt="imagem">
      </div>
      <div class="card__infor-content">
        <h1>Espaguete ao alho</h1>
      </div>
      <div class="card__autor-content">
        <p>Júlia Kinoto</p>
      </div>
    </div>

    <div class="card">
      <div class="card__image-container">
        <img src="assets/lasanha.png" alt="imagem">
      </div>
      <div class="card__infor-content">
        <h1>Lasanha mac n´cheese</h1>
      </div>
      <div class="card__autor-content">
        <p>por Jorge Relato</p>
      </div>
    </div>

    <div class="card">
      <div class="card__image-container">
        <img src="assets/doce.png" alt="imagem">
      </div>
      <div class="card__infor-content">
        <h1>Docinhos pão-do-céu</h1>
      </div>
      <div class="card__autor-content">
        <p>por Ricargo Golvea</p>
      </div>
    </div>

    <div class="card">
      <div class="card__image-container">
        <img src="assets/asinhas.png" alt="imagem">
      </div>
      <div class="card__infor-content">
        <h1>Asinhas de frango ao barbecue</h1>
      </div>
      <div class="card__autor-content">
        <p>por Vania Steroski</p>
      </div>
    </div>
  </section>

  <footer class="baseboard">Todos direitos reservados, receitas foodfy</footer>

</body>
</html>