{% extends "layout.njk" %}
{% block content %}
 
 {% block head %}
    <title>{{items.title}}</title>
  {% endblock %}
 
  <section class="recipe-container" >
   
    <div class="image_recipe-container" id="{{item.id}}">
      <div class="image-recipe">
        <img src="{{items.image}}" alt="imagem {{items.title}}">
      </div>
      <div class="infor-recipe">
        <h1>{{items.title}}</h1>
        <p>Por {{items.author}}</p>
      </div>
    </div>
   
   <div class = "mode-container"> 
      <div class= "state-container"> 
        <h1> Ingredientes </h1>
        <button> Mostrar/Esconder </button>
      </div>
      <div class = "list-content"> 
        {% for ingredient in items.ingredients %}
          <li>{{ingredient}}</li>     
        {% endfor %}
      </div>
   </div>

   <div class = "mode-container"> 
      <div class= "state-container"> 
        <h1> Modo de preparo </h1>
        <button> Mostrar/Esconder </button>
      </div>
      <div class = "list-content"> 
        {% for preparation in items.preparation %}
          <li>{{preparation}}</li>     
        {% endfor %}
      </div>
   </div>

    <div class = "mode-container"> 
      <div class= "state-container"> 
        <h1> Informações adicionais </h1>
        <button> Mostrar/Esconder </button>
      </div>
      <div class = "list-content"> 
        <p>{{items.information}}</p>  
      </div>
   </div>

  </section>
  
  <script src="scripts.js"></script>

{% endblock %}